<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
    	<%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
    </div>
  </div>

  <div class="form-group">
  	<div class="col-sm-6 col-sm-offset-2">
    	<%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
    </div>
  </div>

	<div class="form-group">
	    <div class="col-sm-6 col-sm-offset-2">
	        <%= render "users/shared/links" %>
	    </div>
	</div>
<% end %>
