<% if current_user %> 
	
	<div class="row profile">
		<div class="col-sm-4 col-md-3 user-info">
			<%= link_to "Create new post!", new_post_path, class: "btn btn-lg btn-default", style:"margin-left:auto; margin-right:auto; width:100%" %>
			<h3><%= current_user.full_name %></h3>
				<ul>
					<%= content_tag(:li, ("Name: " + current_user.name)) unless  current_user.name.blank? %>
					<%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, current_user.date_of_birth) + " old")) unless current_user.date_of_birth.blank? %>
				</ul>
				<% if current_user.sent_invites.any? %>
					<p>You are following <%=  pluralize(current_user.sent_invites.count, 'user') %> </p>
				<% else %>
					<p> You aren't following any user </p>	
				<% end %>

				<% if current_user.received_invites.any? %>
					<p>You are followed by <%= pluralize(current_user.received_invites.count, 'user') %></p>
				<% else %>
					<p> You aren't followed by any user </p>
				<% end %>
		</div>
		<div class="user-feed col-sm-8 col-md-9">
			<%= paginate(@feed_items) %>
			<% @feed_items.each do |post| %>
				<div class="panel panel-default <%= feed_post_style(post) %>">
					<%= link_to post_path(post) do %>
						<div class="panel-body">
							<%= post.body %>
							<p><small><strong>By: </strong><%= link_to post.user.full_name, user_path(post.user) %></small></p>
							<p class="date"><%= "Posted at " + post.created_at.strftime("%R | %F") %></p>
							<%= content_tag(:p,  ("Last updated at " + post.updated_at.strftime("%R |  %F")),
						 class: "date",) unless ((post.created_at) == (post.updated_at)) %>
						</div>
					<% end %>
				</div>
			<% end %>
			<%= paginate(@feed_items) %>
		</div>
	</div>

<% else %>
	<div class="center jumbotron">
    	<h1>Welcome to the Exercise App</h1>
    	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-default" %>
    </div>
<% end %>
