<div class="panel panel-default comment">
	<div class="panel-body comment_content">
		<% if current_user && comment.user_id == current_user.id %>
			<p class="delete_comment">
				<%= link_to "Delete", [@post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs btn-delete" %>  
			</p>
		<% end %>
		<p class="comment_body"><%= comment.body %></p>
		<p class="commenter">
			<small>
				<strong>By: </strong>
					<%= link_to comment.user.full_name, user_path(comment.user)  %>
			</small>
		</p>
		<p class="date comment_time"><%= comment.created_at.strftime("%R |  %F") %></p>
	</div>
</div>