<%= form_for([@post, @post.comments.build]) do |f| %>
	<%= render "shared/error_messages", object: f.object %>
	<div class="form-group">
		<%= f.text_area :body, class: "form-control" %>
	</div>

	<%= f.submit "Submit", class: "btn btn-default", data: { disable_with: 'Submitting...' } %>
<% end %> 