<% provide(:title, "Relationships") %>
<div class="row">
  <div class="sent_invites col-sm-5 col-md-5">
    <div class="users-list">
      <% if @sent_invites.any? %>
        <h3 style="text-align: center">Invited user</h3>
        <div class="users row">
          <% @sent_invites.each do |invitation| %>
            <div class="panel panel-default">
              <%= link_to user_path(invitation.invited_user) do %>
                <div class="panel-body">
                  <p><%= invitation.invited_user.full_name %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= paginate(@sent_invites) %>
        </div>
      <% else %>
        <h3> You aren't following any user </h3> 
      <% end %>
    </div>
  </div>

  <div class="received_invites col-md-5 col-sm-5">
    <div class="users-list">
      <% if @received_invites.any? %>
        <h3 style="text-align: center">Invitations received</h3>
        <div class="users row">
          <% @received_invites.each do |invitation| %>
            <div class="panel panel-default">
              <%= link_to user_path(invitation.inviting_user) do %>
                <div class="panel-body">
                  <p><%= invitation.inviting_user.full_name %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= paginate(@received_invites) %>
        </div>
      <% else %>
        <h3> You aren't followed by any user </h3>
      <% end %>
    </div>
  </div>
</div>