<% provide(:title, @user.full_name) %>
<div class="row profile">
	<div class="col-sm-4 col-md-3 user-info">
		<h3><%= @user.full_name %></h3>

		<% if current_user && current_user != @user%>

			<% @relationship = current_user.sent_invites.where(invited_id: @user.id).first %>

			<% if @relationship %>
				<%= form_for :relationship, url: relationship_path,  html: { method: :delete } do |f| %>
					<%= f.hidden_field :relationship_id, value: @relationship.id %>
			  		<%= f.submit "Unfollow", class: 'btn btn-default' %>
			  	<% end %>
			<% else %>
			  <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
			    <%= f.hidden_field :invited_id, value: @user.id %>
			    <%= f.submit 'Follow', class: 'btn btn-default' %>
			  <% end %>
			<% end %>
		<% end %>

		<ul>
			<%= content_tag(:li, ("Name: " + @user.name)) unless  @user.name.blank? %>
			<%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>
		</ul>
	</div>
	<div class="user-posts col-sm-8 col-md-9">
		<%= paginate(@posts) %>
		<% @posts.each do |post| %>
			<div class="panel panel-default">
				<%= link_to post_path(post) do %>
					<div class="panel-body">
						<%= post.body %>
						<p class="date"><%= "Posted at " + post.created_at.strftime("%R | %F") %></p>
						<%= content_tag(:p,  ("Last updated at " + post.updated_at.strftime("%R |  %F")),
					 class: "date",) unless ((post.created_at) == (post.updated_at)) %>
					</div>
				<% end %>
			</div>
		<% end %>
		<%= paginate(@posts) %>
	</div>
</div>