<%= fetch(:rails_env) %>:

  adapter: postgresql
  timeout: 5000
  encoding: UTF8
  pool: 20
  database: 'RDS_DB_NAME'
  username: 'RDS_USERNAME'
  password: 'RDS_PASSWORD'
  host: 'RDS_HOSTNAME'
  port: 'RDS_PORT'