<% provide(:title, "Forgot password") %>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
	</div>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.submit "Send me reset password instructions", class: "btn btn-default" %>
    </div>
	</div>

	<div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= render "users/shared/links" %>
    </div>
	</div>
<% end %>


