<%= form_for post do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group">
        <%= f.label :body, class: "control-label" %>
        <%= f.text_area :body, class: "form-control", rows: 6 %>
    </div>

    <%= f.submit 'Save', class: "btn btn-default" %>
<% end %>