<% provide(:title, "Posts") %>
<div class="row posts-list">
	<%= link_to 'New Post', new_post_path, class: "btn btn-default btn-lg center-block" %>
	<h1>This is a list of posts</h1>
	
	
	<%= paginate(@posts) %>
	<% @posts.each do |post| %>
		<div class="panel panel-default <%= feed_post_style(post) %>">
			<%= link_to post_path(post) do %>
				<div class="panel-body">
					<p><%= post.body %> </p>
					<p><small><strong>By: </strong><%= link_to post.user.full_name, user_path(post.user) %></small></p>
					<p class="date"><%= "Posted at " + post.created_at.strftime("%R |  %F") %></p>
					<%= content_tag(:p,  ("Last updated at " + post.updated_at.strftime("%R |  %F")),
					 class: "date",) unless ((post.created_at) == (post.updated_at)) %>

				</div>
			<% end %>
		</div>
	<% end %>
	<%= paginate(@posts) %>
</div>