<div class="panel panel-default">
	<div class="panel-body">
		<% if @post.user ==current_user %>
			<small class="edit-link"><%= link_to "Edit", edit_post_path(@post), class: "btn btn-default btn-xs" %></small>
		<% end %>
		<p><%= @post.body%></p>
		<p><small><strong>By: </strong><%= link_to @post.user.full_name, user_path(@post.user) %></small></p>
		<p class="date"><%= "Posted at " + @post.created_at.strftime("%R |  %F") %></p>
		<%= content_tag(:p,  ("Last updated at " + @post.updated_at.strftime("%R |  %F")),
					 class: "date",) unless ((@post.created_at) == (@post.updated_at)) %>
	</div>
</div>

<h2><%= pluralize(@post.comments.count, 'comment') %> </h2>
<div class="comments">
	
	<%= render @post.comments %>

<% if user_signed_in? %>
	<%= render "comments/form" %>
<% else %>
	<h3>You have to <%= link_to 'login', new_user_session_path %> to comment</h3>
<% end %>
</div>

