@import "bootstrap";

$orange: #ff8400;
$gray-light: #f4f4f4;
$red-light: #ffcccc;
$gray-medium: #666666;

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

.alert {
	top: 50px;
	left: 0;
	right: 0;
	position: absolute;
}

/* header */

@media (min-width: 769px) {
	.navbar-default {
    	height: 54px; 
	}
	.navbar-nav {
		li {
			a {
				&:hover {
					border-bottom: 3.2px solid $orange;
					color: $orange !important;
				  /*Sets the border-bottom hover color on navbar*/
				}
			}
		}
	}
}

.navbar-brand {
	float: left;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: $orange !important;
	font-size: 1.9em;
	&:hover {
		opacity: 0.85;
	}
}

/* buttons */

.btn-default {
	border: 2px solid $orange;
	background: white;
	color: $orange;
	&:hover {
		background: $orange;
		color: white;
		border: 2px solid $orange;
	}
}

.btn-delete {
	color: red !important;
	border: 1px solid red !important;
	&:hover {
		background: $red-light;
	}
}

/* home page */

.center {
	text-align: center;
	h1 {
		padding-bottom: 10px;
	}
}

.jumbotron {
	background: $gray-light;
}

/* panels, posts-list, user-posts, user profile */

.users .panel-body {
	padding: 0;
	color: black;
	p {
		margin: 10px;
	}
	&:hover {
		background-color: #fcfcfc;
        box-shadow: 0 0 3px #b7b7b7;
	}
}

.panel {
	display: inline-block;
	padding: 0;
	margin: 0 0 10px 0;
	width: 98%;
}

.profile {
	text-align: center;
	.user-info {
		overflow: auto;
	}
	h3 {
		margin-bottom: 15px;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			font-size: 0.9em;
		}
	}
}

.posts-list {
	h1 {
		text-align: center;
	}
	.center-block {
		width: 180px;
	}
	.pagination {
		text-align: center;
	}
	.panel {
		a {
			color: black;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 768px) {
	.posts-list {
		margin-left: 0px;
	}
	.users {
		margin-left: 0px;
	}
}
.date {
	font-size: 0.7em;
	margin-bottom: 0;
	text-align: right;

}

.user-posts, .user-feed {
	text-align: left;
	a {
        	color: black;
        }
        .panel-body {
        	&:hover {
        		background: $gray-light;
        	}
        }
}

@media (min-width: 768px) {
    .user-posts, .user-feed {
        position: absolute;
        right: 0;
        top:53px;
        bottom:0;
        border-left: 1px dotted #e4e4e4;
        width: 63%;
        overflow-y: scroll;
        padding-top: 50px;    
    }
    .profile {
    	text-align: left
    }
}

.edit-link a {
		float: right;		
}

/* users-list */

.users-list {
	a {
        color: black;
        }
        .panel-body {
        	&:hover {
        		background: $gray-light;
        	}
        }
	h1 {
		text-align: center;
		margin-bottom: 35px;
	}
}

/* comments */

.comment {
	margin-left: 25px;
	
}
.delete_comment {
	float: right;
}

/* relationships */

@media (min-width: 768px) {
	.sent_invites {
		
	}

	.received_invites {
		float: right;

	}
}

.my_post {
	background-color: #e6e6e6;
	&:hover {

	}
}