<% flash.each do |message_type, message| %>
	    <div class="alert alert-<%= message_type %> alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <%= message %>
	    </div>
<% end %>

<script>
    $('.alert').fadeOut(4500);
</script>