<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<%= render 'layouts/flash_messages' %>
	<%= render 'layouts/header' %>
	
	<div class="container">
		<%= yield %>
	</div>
	<%= render 'shared/google_analytics' %>
</body>
</html>
