<% provide(:title, "Edit Profile") %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %> 
    <div class="col-sm-6">   
      <%= f.text_field :name, autofocus: false, class: "form-control" %> 
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.date_select :date_of_birth, start_year: 1920, end_year: 2000, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
          <%= f.check_box :email_notification %> <%= f.label :email_notification %>
      </div>
    </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: 'col-sm-2 control-label'  %> <i>(leave blank if you don't want to change it)</i>
      <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: 'col-sm-2 control-label' %> <i>(we need your current password to confirm your changes)</i>
    <div class="col-sm-6">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Update", class: "btn btn-default" %>
    </div>
  </div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>

<h5>Cancel my account</h5>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default btn-xs btn-delete' %></p>

<%= link_to "Back", :back %>